@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --azul_escuro_card:#00315b; /*azul escuro card serviços/palavras*/
    --azul_claro_card:#1c6cb1; /*azul claro card serviços*/
    --azul_claro_fundo:#2a5a84; /*azul fundo claro serviços*/
    --azul_escuro_fundo:#00223f; /*azul escuro footer */
    --cinza:#b1b1b1; /*cinza claro */
    --azul_claro_sobre_nos:#d7e9f9; /*azul clarinho produção*/
}

html {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
}

#contato{
    width: 547px;;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    /* Header 1 */
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 75px auto 75px auto;
}

#forms{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    
}

#potencialize{
    width: 398px;
    margin-right: 24px;
    margin-bottom: 5px;
}

#potencialize  p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#potencialize p > span{
    color: #00315B;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#textinho{
    width: 345px;
    height: 170px;
    color: #BFBFBF;
    margin-right: 94px;
    /* Body (p) */
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#formulario{
    display: grid;
    grid-gap: 21px;
}

#formulario input, select{
    border-radius: 16px;
    border: 2px solid #EAEAEA;
    background: #FFF;
    width: 383px;
    height: 38px;
    flex-shrink: 0;
    
}

.opcao_desligada{
    color: #BABABA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 0 13px 13px;
}

#formulario input, input::placeholder, option, option:checked{
    color: #BABABA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 0 13px 13px;
}

#ajuda, #contatado{
    color: #BABABA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 21px;
}


#formulario textarea{
    width: 383px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #EAEAEA;
    background: #FFF;
    color: #BABABA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 0 13px 21px;
    resize: none;
}

#formulario textarea:focus{
    color: #BABABA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 0 13px 21px;
}

#formulario button{
    width: 383px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #00315B;
    padding: 13px 165px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}